.page__title {
  font-family: 'Lora', sans-serif;
  position: relative;
  margin-bottom: 60px;
}

.page__title::after {
  position: absolute;
  content: '';
  background-color: #d8d8d8;
  width: 80px;
  height: 5px;
  top: 130%;
  left: 0;
}
