.blogSquare {
  display: flex;
  margin-bottom: 50px;
  flex-direction: column;
}

.blogSquare__title {
  font-family: 'Lora', serif;
  font-weight: 100;
  margin: 0;
}

.blogSquare__date {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 0.8em;
  margin-bottom: 0;
}

.blogSquare__description {
  margin-top: 16px;
}
