.header {
  margin-bottom: 0;
  padding: 20px 20px 0px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}

.header__link {
  color: white;
  text-decoration: none;
}

.header__logo {
  margin-bottom: 0;
}

@media (min-width: 790px) {
  .header {
    flex-direction: row;
  }
}
