li {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  padding: 15px 0px 15px 30px;
}

.menu {
  height: 100%;
  list-style: none;
  margin: 0;
  display: flex;
  font-size: 0.9em;
}

.menu__content-wrapper {
  position: relative;
  height: 100%;
}

.menu__item {
  color: #9fa7a7;
  text-decoration: none;
}

.menu__item--selected {
  text-decoration: underline;
  color: #f7c0ab;
}

.menu__button {
  background: none;
  border: none;
}

.menu > li {
  margin: 10px 0px;
  padding: 0px 20px;
}
