.nav {
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  padding: 40px;
  z-index: 15;
}

.nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav a {
  font-size: 2em;
  margin-right: 16px;
  transition: color 0.1 linear;
  cursor: pointer;
  text-decoration: none;
}
