.resumeSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  margin-bottom: 100px;
  border-bottom: 1px solid #f7c0ab;
}

.resumeSection__image {
  width: 80vw;
}

.button {
  width: 150px;
  height: 40px;
  font-size: .8em;
  background: #f7c0ab;
  color: white;
  border: 2px solid #f7c0ab;
  font-weight: 100;
  margin-top: 30px;
  transition: all .1s linear;
}

.button:hover {
  cursor: pointer;
  background: none;
  color: #f7c0ab;
}

@media(min-width: 820px) {
  .resumeSection__image {
    max-width: 500px;
  }
}