.workItem__subtitle {
  color: #F7C0AB;
  font-weight: 300;
  margin: 0 0 10px;
}

.workItem__link {
  color: #9B9B9B;
  font-size: .9em;
  padding-bottom: 2px;
}

.workItem__link:hover,
.workItem__link:focus {
  text-decoration: underline;
}